<!DOCTYPE html>
<html ng-app="scotchTodo">
<head>
	<meta charset="utf-8">
	<title>To DO Example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="row" style="margin-top: 2em;">

			<div class="text-center">
				<h1 class="text-primary text-uppercase">todo Task  <span >{{ todos.length }}</span></h1>
			</div>

			<div id="todo-list" class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="checkbox text-center text-success text-uppercase" ng-repeat="todo in todos">
						<label>
							<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
						</label>
					</div>

				</div>
			</div>

			<div id="todo-form" class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<form>
						<div class="form-group">

							<input type="text" class="form-control input-lg text-center" placeholder="Add Task" ng-model="formData.text">
						</div>
						<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
					</form>
				</div>
			</div>

		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="main.js"></script>
</body>
</html>